.navbar {
  position: relative;     
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.navbar-logo {
  height: 120px;
  width: auto;
}

.nav-links {
  display: flex;
  gap: 40px;
  font-size: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #8d1b1b;
  cursor: pointer;
}

.nav-links a:hover {
  color: #633131;
}

.nav-links a.active {
  border-bottom: 2px solid #d1b28a;
  font-weight: bold;
  padding-bottom: 4px;
}

.hamburger {
  display: none;
}

/* DARK MODE NAVBAR*/

.app-wrapper.dark .nav-links a {
  color: #d1b28a; 
}

.app-wrapper.dark .nav-links a:hover {
  color: #f2ece6;
}

.app-wrapper.dark .nav-links a.active {
  border-bottom: 2px solid #8d1b1b; 
  color: #f1e1d1;
}

@media (max-width: 768px) {
  .navbar {
    padding: 12px 16px;
  }

  .navbar-top {
    min-height: 80px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar-logo {
    height: 56px;
  }
    .nav-links {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 12px;

    background: #fff8f0;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    padding: 16px 0;
  }

  .nav-links.open {
    display: flex;
  }

   .hamburger {
    display: block;
    font-size: 26px;
    background: none;
    border: none;
    cursor: pointer;
    color: #8b1e1e; 
  }
}
